[project]
name = "MPVScreensaver"
version = "0.1.0"
description = "Plays videos fullscreen, in a loop, using MPV"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "pytest>=9.0.2",
]
